     body{background-color:#EAF6F6
        
      }

      hr {
        
        border-style: none;
        border-top-style: dotted;
       
        border-color: grey;
       
        width: 10%;
        border-width: 5px;
      }
         h1{
          color: chartreuse;     
         }
         h3{
          color: #66bfbf;
         }
         h2{
                 color: #66bfbf;
         }     
         #sta{ 
          color: orange;
          font-size: 50px;
         }
         #star{ 
          color: orange;
          font-size: 50px;
         }